@import './../../variables';

.issues-finder__container {
  width: 100%;
  margin: 1rem 0;
}

.issues-finder__input {
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;

  @media (min-width: $md) {
    font-size: 2rem;
  }
}