.main__container {
    width: 60%;
    margin: 0 auto;
}

.issues__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}